body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #e7e7e7;
}

.flex-container {
    background-color: #e51111ec;
    margin: 7% 5%;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.board {
    width: 500px;
    height: 500px;
    display: grid;
    box-shadow: inset 0 0 7.5px rgba(0, 0, 0, 0.5);
    margin: 25px auto;
    border-radius: 20px;
    border: 15px solid #c81010ec;
    background-color: white;
}

.title {
    padding: 5px;
}

.mode {
    color: #404040;
}

h1 {
    margin: 0;
    padding: 0;
    color: goldenrod;
    text-shadow: 0 0 10px #c0911b;
    letter-spacing: 0.2rem;
}

.buttons {
    margin: 15px;
}

button {
    margin: 0 5px;
    border: none;
    background-color: white;
    font-size: 16px;
    color: #404040;
    box-shadow: 3px 3px 1px #cecece;
    cursor: pointer;
    text-align: center;
}

.buttons button {
    padding: 10px 20px;
    border-radius: 10px;
}

#sizeBtn {
    padding: 15px;
    border-radius: 100px;
    height: 65px;
    width: 65px;
}

button:hover {
    background-color: #f5f5f5;
    box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.5);
}

input {
    color: #404040;
    border: 3px solid #c81010ec;
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 20px;
    box-shadow: inset 0 0 7.5px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 30px;
}

input:focus {
    outline: none;
}